<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.main"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/logo" android:label="@string/app_name">
        <activity android:name=".Login_Reg"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    <activity android:name=".Home"></activity>
    <activity android:name=".Handle_photo"></activity>
    
    <activity android:name="com.android.item.Attention"></activity>
    <activity android:name="com.android.item.Map"></activity>
    <activity android:name="com.android.item.Person"></activity>
    <activity android:name="com.android.item.Main_item"></activity>
    <activity android:name="com.android.item.Photo"></activity>
    <activity android:name="com.android.item.Login"></activity>
    <activity android:name="com.android.item.Register"></activity>
    
    <activity android:name="com.android.item.activity.Collection"></activity>
    <activity android:name="com.android.item.activity.Collect_OneAlbum"></activity>
    <activity android:name="com.android.item.activity.Collect_img"></activity>
    <activity android:name="com.android.item.activity.Picture"></activity>
    <activity android:name="com.android.item.activity.MyUpload"></activity>
    <activity android:name="com.android.item.activity.Upload"></activity>
    <activity android:name="com.android.item.activity.SetSns"></activity>
     <activity android:name="com.android.item.activity.About"></activity>
    
    
    
    
    </application>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
</manifest>